<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="container bg-white px-4 py-4 ">
        <h1 class="text-center my-3 fw-semibold my-4 rounded-5">Login</h1>
        <div class="mb-3">
            <label for="" class="label-form text-secondary fw-semibold mb-1">EMAIL</label>
            <input type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label for="" class="label-form text-secondary fw-semibold mb-1">PASSWORD</label>
            <input type="password" class="form-control">
        </div>

        <div class="mb-3">
            <button class="btn-login mb-3">Login</button>
            <button class="btn-signUp">Sign Up</button>
        </div>
    </div>
</div>
