<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="container bg-white px-4 py-2 ">
        <h1 class="text-center fw-semibold rounded-5">Sign Up</h1>
        <div class="mb-1">
            <label for="" class="label-form text-secondary fw-semibold mb-1">EMAIL</label>
            <input type="text" class="form-control">
        </div>

        <div class="mb-1">
            <label for="" class="label-form text-secondary fw-semibold mb-1">PASSWORD</label>
            <input type="password" class="form-control">
        </div>

        <div class="mb-1">
            <label for="" class="label-form text-secondary fw-semibold mb-1">FIRST NAME</label>
            <input type="text" class="form-control">
        </div>

        <div class="mb-1">
            <label for="" class="label-form text-secondary fw-semibold mb-1">PASSWORD</label>
            <input type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label for="" class="label-form text-secondary fw-semibold mb-1">PHONE</label>
            <input type="text" class="form-control">
        </div>

        <div class="mb-3">
            <button class="btn-signUp mb-3">Sign Up</button>
            <button class="btn-login">Login</button>
            
        </div>
    </div>
</div>

