.container-fluid{
    background-color: #e7edfd;
}
.container{
    width: 300px;
    box-shadow: 11px 23px 15px -3px rgba(0,0,0,0.1);
}
h1{
    font-size: 1.7rem;
    letter-spacing: 1px;
}
label{
    letter-spacing: 2px;
    font-size: .6rem;
}
.btn-signUp{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    width: 100%;
    border-radius: .3rem;
    padding: .5rem 0;
    background-color: #f490b1;
    color: #fff;
    border:  none;
}   
.btn-signUp:hover{
    background-color: #ec6995;
}
.btn-signUp:active{
    background-color: #f490b1;
    color: #fff;
}

.btn-login{
    font-weight: 500;
    display: block;
    width: 100%;
    border-radius: .3rem;
    padding: .5rem 0;
    background-color: #fff;
    color: #f490b1;
    border:  none;
}
.btn-login:hover{
    border: 2px solid #f490b1;
}

.btn-login:active{
    background-color: #f490b1;
    color: #fff;
}
@media only screen and (min-width: 1300px) {
    .container{
        width:370px;
        padding: 0 2rem !important;
    }
    h1{
        font-size: 1.9rem;
        margin: 1.2rem 0;
    }

    label{
        font-size: .7rem;
    }
    .mb-1{
        margin-bottom: 6px !important;
    }   
}

